//
// Base styles
//

.ecbtn {
  display: inline-block;
  font-weight: $ecbtn-font-weight;
  line-height: $ecbtn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $input-ecbtn-border-width solid transparent;
  @include button-size($ecbtn-padding-y, $ecbtn-padding-x, $font-size-base, $ecbtn-border-radius);
  @include transition($ecbtn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $ecbtn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    @include box-shadow(none);
  }

  &:active,
  &.active {
    background-image: none;
    @include box-shadow($ecbtn-focus-box-shadow, $ecbtn-active-box-shadow);
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.ecbtn.disabled,
fieldset[disabled] a.ecbtn {
  pointer-events: none;
}


//
// Alternate buttons
//

.ecbtn-primary {
  @include button-variant($ecbtn-primary-color, $ecbtn-primary-bg, $ecbtn-primary-border);
}
.ecbtn-secondary {
  @include button-variant($ecbtn-secondary-color, $ecbtn-secondary-bg, $ecbtn-secondary-border);
}
.ecbtn-info {
  @include button-variant($ecbtn-info-color, $ecbtn-info-bg, $ecbtn-info-border);
}
.ecbtn-success {
  @include button-variant($ecbtn-success-color, $ecbtn-success-bg, $ecbtn-success-border);
}
.ecbtn-warning {
  @include button-variant($ecbtn-warning-color, $ecbtn-warning-bg, $ecbtn-warning-border);
}
.ecbtn-danger {
  @include button-variant($ecbtn-danger-color, $ecbtn-danger-bg, $ecbtn-danger-border);
}

// Remove all backgrounds
.ecbtn-outline-primary {
  @include button-outline-variant($ecbtn-primary-bg);
}
.ecbtn-outline-secondary {
  @include button-outline-variant($ecbtn-secondary-border);
}
.ecbtn-outline-info {
  @include button-outline-variant($ecbtn-info-bg);
}
.ecbtn-outline-success {
  @include button-outline-variant($ecbtn-success-bg);
}
.ecbtn-outline-warning {
  @include button-outline-variant($ecbtn-warning-bg);
}
.ecbtn-outline-danger {
  @include button-outline-variant($ecbtn-danger-bg);
}


//
// Link buttons
//

// Make a button look and behave like a link
.ecbtn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:disabled {
    color: $ecbtn-link-disabled-color;

    @include hover-focus {
      text-decoration: none;
    }
  }
}


//
// Button Sizes
//

.ecbtn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($ecbtn-padding-y-lg, $ecbtn-padding-x-lg, $font-size-lg, $ecbtn-border-radius-lg);
}
.ecbtn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($ecbtn-padding-y-sm, $ecbtn-padding-x-sm, $font-size-sm, $ecbtn-border-radius-sm);
}


//
// Block button
//

.ecbtn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.ecbtn-block + .ecbtn-block {
  margin-top: $ecbtn-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.ecbtn-block {
    width: 100%;
  }
}