/*  ECKit's Special Settings for changing anything
    Note that this is also a big waste of space.
    You can Just delete the @import 'settings' before compiling the sass to use less space.

*/

@font-face {
    font-family: Helvetica Neue;
    src: url(../../fonts/HelveticaNeue.tff);
}

body{
  font: $font-stack;
}

/*Font*/
.monospace {
  font-family: monospace
}

.serif {
  font-family: serif
}

.sans-serif {
  font-family: sans-serif
}

.bold {
  font-weight: 700
}

/*Margin and Padding Changers*/
/*Margin*/
.margin-small {
  margin: 5px
}

.margin-medium {
  margin: 10px
}

.margin-large {
  margin: 20px
}

.margin-xl {
  margin: 25px
}

.margin-top-small {
  margin-top: 5px
}

.margin-top-medium {
  margin-top: 10px
}

.margin-top-large {
  margin-top: 20px
}

.margin-top-xl {
  margin-top: 25px
}

.margin-left-small {
  margin-left: 5px
}

.margin-left-medium {
  margin-left: 10px
}

.margin-left-large {
  margin-left: 20px
}

.margin-left-xl {
  margin-left: 25px
}

.margin-right-small {
  margin-right: 5px
}

.margin-right-medium {
  margin-right: 10px
}

.margin-right-large {
  margin-right: 20px
}

.margin-right-xl {
  margin-right: 25px
}

.margin-bottom-small {
  margin-bottom: 5px
}

.margin-bottom-medium {
  margin-bottom: 10px
}

.margin-bottom-large {
  margin-bottom: 20px
}

.margin-bottom-xl {
  margin-bottom: 25px
}

/*Padding*/
.padding-small {
  padding: 5px
}

.padding-medium {
  margin: 10px
}

.padding-large {
  padding: 20px
}

.padding-top-small {
  padding-top: 5px
}

.padding-top-medium {
  margin-top: 10px
}

.padding-top-large {
  padding-top: 20px
}

.padding-top-xl {
  padding-top: 25px
}

.padding-left-small {
  padding-left: 5px
}

.padding-left-medium {
  padding-left: 10px
}

.padding-left-large {
  padding-left: 20px
}

.padding-left-xl {
  margin-left: 25px
}

.padding-right-small {
  padding-right: 5px
}

.padding-right-medium {
  padding-right: 10px
}

.padding-right-large {
  padding-top: 20px
}

.padding-right-xl {
  padding-right: 25px
}

.padding-bottom-small {
  padding-bottom: 5px
}

.padding-bottom-medium {
  padding-bottom: 10px
}

.padding-bottom-large {
  padding-bottom: 20px
}

.padding-bottom-xl {
  padding-bottom: 25px
}

/*Moving Tags*/
.up-small {
  position: relative;
  bottom: 5px
}

.up-medium {
  position: relative;
  bottom: 10px
}

.up-large {
  position: relative;
  bottom: 20px
}

.down-small {
  position: relative;
  top: 5px
}

.down-medium {
  position: relative;
  top: 10px
}

.down-large {
  position: relative;
  bottom: 20px
}

.left-small {
  position: relative;
  right: 5px
}

.left-medium {
  position: relative;
  right: 10px
}

.left-large {
  position: relative;
  right: 20px
}

.right-small {
  position: relative;
  left: 5px
}

.right-medium {
  position: relative;
  left: 10px
}

.right-large {
  position: relative;
  left: 20px
}

/*Aligning*/
.align-left {
  text-align: left
}

.align-right {
  text-align: right
}

.align-center {
  text-align: center
}

/*Text Decoration*/
.underline {
  text-decoration: underline
}

.overline {
  text-decoration: overline
}

.linethrough {
  text-decoration: line-through
}

/*Border Type*/
.border-top {
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #fff
}

.border-top-inverse {
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #000
}

.border-bottom {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #fff
}

.border-bottom-inverse {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000
}

.border-left {
  border-left: solid;
  border-left-width: 1px;
  border-left-color: #fff
}

.border-left-inverse {
  border-left: solid;
  border-left-width: 1px;
  border-left-color: #000
}

.border-right {
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #fff
}

.border-right-inverse {
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #000
}

.border {
  border: solid;
  border-width: 1px;
  border-color: #fff
}

.border-inverse {
  border: solid;
  border-width: 1px;
  border-color: #000
}

/* Removing Certain Style */
a{
  text-decoration: none;
}

/* Get Sizes for Header and for all other pieces of ECKit */