/* COLORS */
.text-amber {
  color: #ffc107
}

.amber {
  color: #000;
  background-color: #ffc107
}

.text-blue {
  color: #2196F3
}

.blue {
  color: #fff;
  background-color: #2196F3
}

.text-light-blue {
  color: #87CEEB
}

.light-blue {
  color: #000;
  background-color: #87CEEB
}

.text-brown {
  color: #795548
}

.brown {
  color: #fff;
  background-color: #795548
}

.text-cyan {
  color: #00bcd4
}

.cyan {
  color: #000;
  background-color: #00bcd4
}

.text-blue-grey {
  color: #607d8b
}

.blue-grey {
  color: #fff;
  background-color: #607d8b
}

.text-green {
  color: #4CAF50
}

.green {
  color: #fff;
  background-color: #4CAF50
}

.text-light-green {
  color: #8bc34a
}

.light-green {
  color: #000;
  background-color: #8bc34a
}

.text-indigo {
  color: #3f51b5
}

.indigo {
  color: #fff;
  background-color: #3f51b5
}

.text-khaki {
  color: #b4aa50
}

.khaki {
  color: #000;
  background-color: #f0e68c
}

.text-lime {
  color: #cddc39
}

.lime {
  color: #000;
  background-color: #cddc39
}

.text-orange {
  color: #ff9800
}

.orange {
  color: #000;
  background-color: #ff9800
}

.text-deep-orange {
  color: #ff5722
}

.deep-orange {
  color: #fff;
  background-color: #ff5722
}

.text-pink {
  color: #e91e63
}

.pink {
  color: #fff;
  background-color: #e91e63
}

.text-purple {
  color: #9c27b0
}

.purple {
  color: #fff;
  background-color: #9c27b0
}

.text-deep-purple {
  color: #673ab7
}

.deep-purple {
  color: #fff;
  background-color: #673ab7
}

.text-red {
  color: #F44336
}

.red {
  color: #fff;
  background-color: #F44336
}

.text-teal {
  color: #009688
}

.teal {
  color: #fff;
  background-color: #009688
}

.text-yellow {
  color: #d2be0e
}

.yellow {
  color: #000;
  background-color: #ffeb3b
}

.text-white {
  color: #fff
}

.white {
  color: #000;
  background-color: #fff
}

.text-black {
  color: #000
}

.black {
  color: #fff;
  background-color: #000
}

.text-grey {
  color: #757575
}

.grey {
  color: #000;
  background-color: #9e9e9e
}

.text-light-grey {
  color: #f1f1f1
}

.light-grey {
  color: #000;
  background-color: #f1f1f1
}

.text-dark-grey {
  color: #3a3a3a
}

.dark-grey {
  color: #fff;
  background-color: #616161
}