/* ECKit Version 2.0.1
*  @name:ECKit
*  @author:ECWebServices
*  @version:2.0.1
*/
/* Reset.css by ECWebServices.
*  Use is under MIT License.
*/

/*  Hello, ECKit is a framework that mainly specializes
*   in styling as well as a major grid system. It is very
*   easy to use. Full documentation will not be availible until
*   Version 2.1, as by then we will have finished working
*   on all the documentation.
*/

/*  You can choose currently between a 12, 16, and 24 column versions
*   of ECKit. To change: just rename the import for the "eckit.12col.css"
*   to another version.
*/

/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN ECKit */
@import url("eckit.12col.css");

/* IMPORT COLORS */
@import url("colors.css");

/* IMPORT SPECIALTY SETTINGS */
@import url("settings.css");

/* Example CSS */

header{
	min-height: 60px;
}

ul {
list-style-type: none;
}

li{
	display: inline;
}

article, aside{
	min-height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer{
	min-height: 25px;
	text-align: right;
	padding-right: 5px;
}